# **Data Cleaning Exercise**

## **1. Import Data**

In [56]:
# Import our packages
import pandas as pd

In [57]:
# Read the excel file
data = pd.read_excel("messy_phol.xlsx")
# Print number of rows and columns
print(data.shape)
# Print the output to check the data
data.head()

(775, 4)

  region       date               name comment
0    ACT 2014-01-01      New Years Day    None
1    ACT 2014-01-27  Australia Day Sub    None
2    ACT 2014-03-10   Canberra Day -RD    None
3    ACT 2014-04-18        Good Friday    None
4    ACT 2014-04-19    Easter Saturday    None

In [58]:
# Check what type the data is
data.dtypes

region             object
date       datetime64[ns]
name               object
comment            object
dtype: object

## **2. Cleaning Data**

### **2.1. Format Columns**

In [59]:
# Remove last column
data.drop("comment", axis=1, inplace=True)
# Insert date and time dates
data.insert(2, "public_holiday_end", "")
data.insert(2, "public_holiday_start", "")
data.insert(2, "date_week_day", "")
data.insert(2, "date_week_number", "")
# Rename the column headers
data.rename({"region": "phol_location", "date": "public_holiday_date", "name": "public_holiday"}, axis=1, inplace=True)

In [60]:
# Remove duplcates
data.drop_duplicates(inplace=True)
# Print number of rows and columns
print(data.shape)
# Print the output to check the data
data.head()

(774, 7)

,phol_location,public_holiday_date,date_week_number,date_week_day,public_holiday_start,public_holiday_end,public_holiday
0,ACT,2014-01-01,,,,,New Years Day
1,ACT,2014-01-27,,,,,Australia Day Sub
2,ACT,2014-03-10,,,,,Canberra Day -RD
3,ACT,2014-04-18,,,,,Good Friday
4,ACT,2014-04-19,,,,,Easter Saturday

### **2.2 Missing Data**

#### **2.2.1. Region**

In [61]:
# Check if there are any missing regions
data[data["phol_location"].isnull()]

,phol_location,public_holiday_date,date_week_number,date_week_day,public_holiday_start,public_holiday_end,public_holiday
470,NaN,2019-04-25,,,,,ANZAC Day

In [62]:
# See where the missing region is located
data.iloc[467:473]

,phol_location,public_holiday_date,date_week_number,date_week_day,public_holiday_start,public_holiday_end,public_holiday
467,TAS,2019-03-11,,,,,Labour Day VIC - TAS -RD
468,TAS,2019-04-19,,,,,Good Friday
469,TAS,2019-04-22,,,,,Easter Monday
470,NaN,2019-04-25,,,,,ANZAC Day
471,TAS,2019-06-10,,,,,Queens Birthday exc WA -RD
472,TAS,2019-12-25,,,,,Christmas Day

In [63]:
# Fill null region
data["phol_location"] = data["phol_location"].fillna("TAS")
# Check to see no missing regions
data[data["phol_location"].isnull()]

Empty DataFrame
Columns: [phol_location, public_holiday_date, date_week_number, date_week_day, public_holiday_start, public_holiday_end, public_holiday]
Index: []

#### **2.2.2 Date**

In [64]:
# Check if there are any missing dates
data[data["public_holiday_date"].isnull()]

,phol_location,public_holiday_date,date_week_number,date_week_day,public_holiday_start,public_holiday_end,public_holiday
662,WA,NaT,,,,,Queens Birthday WA -RD

In [65]:
# See where the missing region is located
data.iloc[659:665]

,phol_location,public_holiday_date,date_week_number,date_week_day,public_holiday_start,public_holiday_end,public_holiday
659,WA,2020-04-25,,,,,ANZAC Day
660,WA,2020-04-27,,,,,ANZAC Day Add
661,WA,2020-06-01,,,,,Western Australia Day
662,WA,NaT,,,,,Queens Birthday WA -RD
663,WA,2020-12-25,,,,,Christmas Day
664,WA,2020-12-26,,,,,Boxing Day - Proclamation Day

In [66]:
# Fill null date
data["public_holiday_date"] = data["public_holiday_date"].fillna("Monday, June 08, 2020")
# Check to see no missing regions
data[data["public_holiday_date"].isnull()]

Empty DataFrame
Columns: [phol_location, public_holiday_date, date_week_number, date_week_day, public_holiday_start, public_holiday_end, public_holiday]
Index: []

#### **2.2.3. Name**

In [67]:
# Check if there are any missing names
data[data["public_holiday"].isnull()]

Empty DataFrame
Columns: [phol_location, public_holiday_date, date_week_number, date_week_day, public_holiday_start, public_holiday_end, public_holiday]
Index: []

In [68]:
# Print the output to check the data
data.head()

,phol_location,public_holiday_date,date_week_number,date_week_day,public_holiday_start,public_holiday_end,public_holiday
0,ACT,2014-01-01,,,,,New Years Day
1,ACT,2014-01-27,,,,,Australia Day Sub
2,ACT,2014-03-10,,,,,Canberra Day -RD
3,ACT,2014-04-18,,,,,Good Friday
4,ACT,2014-04-19,,,,,Easter Saturday

### **2.3. Public Holiday**

In [69]:
# Replace sub/add with (additional day)
x = "(additional day)"
data["public_holiday"] = data["public_holiday"].str.replace("sub add", x, case=False)
data["public_holiday"] = data["public_holiday"].str.replace("sub", x, case=False)
data["public_holiday"] = data["public_holiday"].str.replace("Add", x, case=True)
data["public_holiday"] = data["public_holiday"].str.replace("ADD", x, case=True)

# Remove substrings
data["public_holiday"] = data["public_holiday"].str.replace(" -RD", "")
data["public_holiday"] = data["public_holiday"].str.replace(" SA", "")
data["public_holiday"] = data["public_holiday"].str.replace(" WA", "")
data["public_holiday"] = data["public_holiday"].str.replace(" QLD", "")
data["public_holiday"] = data["public_holiday"].str.replace(" VIC - TAS", "")
data["public_holiday"] = data["public_holiday"].str.replace(" NSW-ACT-SA", "")
data["public_holiday"] = data["public_holiday"].str.replace(" exc", "")
data["public_holiday"] = data["public_holiday"].str.replace(" 26th", "")
data["public_holiday"] = data["public_holiday"].str.replace(" 7pm - midnight", "")
data["public_holiday"] = data["public_holiday"].str.replace(" - the Saturday following Good Friday", "")
data["public_holiday"] = data["public_holiday"].str.replace(" - Friday", "")
data["public_holiday"] = data["public_holiday"].str.replace("Friday before ", "")
data["public_holiday"] = data["public_holiday"].str.replace(" - type a", "")
data["public_holiday"] = data["public_holiday"].str.replace(" - type b", "")
data["public_holiday"] = data["public_holiday"].str.replace(" - type c", "")

# New years
data["public_holiday"] = data["public_holiday"].str.replace("New Years Day", "New Year's Day")
data["public_holiday"] = data["public_holiday"].str.replace("New Years Eve", "New Year's Eve")

# ANZAC
data["public_holiday"] = data["public_holiday"].str.replace("Anzac Day", "ANZAC Day")
data["public_holiday"] = data["public_holiday"].str.replace("ANZ Day - additional day declared", "ANZAC Day (additional day)", regex=True)

# Easter
data["public_holiday"] = data["public_holiday"].str.replace("good", "Good")
data["public_holiday"] = data["public_holiday"].str.replace("MON", "Monday")
data["public_holiday"] = data["public_holiday"].str.replace("Saturday before Easter Sunday", "Easter Saturday")

# Cup days
data["public_holiday"] = data["public_holiday"].str.replace("Adelaide Cup Day", "Adelaide Cup")
data["public_holiday"] = data["public_holiday"].str.replace("Melbourne Cup Day", "Melbourne Cup")

#Christmas
data["public_holiday"] = data["public_holiday"].str.replace("Christmas (additional day)", "Christmas Day (additional day)", regex=True)

# Boxing Day
data["public_holiday"] = data["public_holiday"].str.replace("Boxing Day - Proclamation Day", "Boxing Day / Proclamation Day")
data["public_holiday"] = data["public_holiday"].str.replace("Boxing Day - ", "Boxing Day ")

In [70]:
# Print the output to check the data
data.head()

,phol_location,public_holiday_date,date_week_number,date_week_day,public_holiday_start,public_holiday_end,public_holiday
0,ACT,2014-01-01,,,,,New Year's Day
1,ACT,2014-01-27,,,,,Australia Day (additional day)
2,ACT,2014-03-10,,,,,Canberra Day
3,ACT,2014-04-18,,,,,Good Friday
4,ACT,2014-04-19,,,,,Easter Saturday

### **2.4. Date**

In [71]:
# States and holidays that start later
States = ["NT", "SA"]
Holidays = ["Christmas Eve", "New Year's Eve"]

data["date_week_number"] = data["public_holiday_date"].dt.isocalendar().week

data["date_week_day"] = data["public_holiday_date"].dt.day_name()

# Add general start times for the dates
data["public_holiday_start"] = data["public_holiday_date"]
# Add seven hours for NT and SA for Xmas and NY Eve
data.loc[data['phol_location'].isin(States) & data['public_holiday'].isin(Holidays), "public_holiday_start"] = data["public_holiday_date"] + pd.to_timedelta(19, unit='h')

# Add general end times for the dates
data["public_holiday_end"] = data["public_holiday_date"] + pd.to_timedelta(23, unit='h') + pd.to_timedelta(59, unit='m') + pd.to_timedelta(59, unit='s')

In [72]:
# Print the output to check the data
data.head()

,phol_location,public_holiday_date,date_week_number,date_week_day,public_holiday_start,public_holiday_end,public_holiday
0,ACT,2014-01-01,1,Wednesday,2014-01-01,2014-01-01 23:59:59,New Year's Day
1,ACT,2014-01-27,5,Monday,2014-01-27,2014-01-27 23:59:59,Australia Day (additional day)
2,ACT,2014-03-10,11,Monday,2014-03-10,2014-03-10 23:59:59,Canberra Day
3,ACT,2014-04-18,16,Friday,2014-04-18,2014-04-18 23:59:59,Good Friday
4,ACT,2014-04-19,16,Saturday,2014-04-19,2014-04-19 23:59:59,Easter Saturday

## **3. Remediation Filter**

In [73]:
# Remediation period
data = data[(data["public_holiday_date"] >= "2019-01-01") & (data["public_holiday_date"] <= "2021-12-31")]

In [74]:
# Print the output to check the data
data.head()

,phol_location,public_holiday_date,date_week_number,date_week_day,public_holiday_start,public_holiday_end,public_holiday
67,ACT,2019-01-01,1,Tuesday,2019-01-01,2019-01-01 23:59:59,New Year's Day
68,ACT,2019-01-28,5,Monday,2019-01-28,2019-01-28 23:59:59,Australia Day (additional day)
69,ACT,2019-03-11,11,Monday,2019-03-11,2019-03-11 23:59:59,Canberra Day
70,ACT,2019-04-19,16,Friday,2019-04-19,2019-04-19 23:59:59,Good Friday
71,ACT,2019-04-20,16,Saturday,2019-04-20,2019-04-20 23:59:59,Easter Saturday

## **4. Checks**

In [75]:
# Unique values
data["public_holiday"].unique()

array(["New Year's Day", 'Australia Day (additional day)', 'Canberra Day',
       'Good Friday', 'Easter Saturday', 'Easter Sunday', 'Easter Monday',
       'ANZAC Day', 'Reconciliation Day', 'Queens Birthday', 'Labour Day',
       'Christmas Day', 'Boxing Day / Proclamation Day',
       'ANZAC Day (additional day)', 'Boxing Day',
       'Boxing Day (additional day)', 'Australia Day', "Queen's Birthday",
       'Christmas (additional day)', 'May Day', 'NT Picnic Day',
       'Christmas Eve', "New Year's Eve", 'Picnic Day', 'Adelaide Cup',
       'Boxing Day / Proclamation Day (additional day)',
       'Eight Hours Day', 'Easter Tuesday', 'AFL Grand Final',
       'Melbourne Cup', 'Western Australia Day'], dtype=object)

In [76]:
# Check what type the data is
data.dtypes

phol_location                   object
public_holiday_date     datetime64[ns]
date_week_number                UInt32
date_week_day                   object
public_holiday_start    datetime64[ns]
public_holiday_end      datetime64[ns]
public_holiday                  object
dtype: object

## **5. Export Data**

In [77]:
# Export the excel file
data.to_excel("messy_phol_cleaned.xlsx")