# **EDA Exercise**

## **1. Import Data**

In [56]:
# Import our packages
import pandas as pd

In [57]:
# Read the excel file
data = pd.read_excel("messy_phol.xlsx")
# Print number of rows and columns
print(data.shape)
# Print the output to check the data
data.head()

(775, 4)

  region       date               name comment
0    ACT 2014-01-01      New Years Day    None
1    ACT 2014-01-27  Australia Day Sub    None
2    ACT 2014-03-10   Canberra Day -RD    None
3    ACT 2014-04-18        Good Friday    None
4    ACT 2014-04-19    Easter Saturday    None